{% extends 'layout.html' %}

{% block content %}

<br>
<h1 align = "center" style='font-size:3vw'>Register</h1>
<br>
{% if messages %}
<div class="alert alert-danger" role="alert">
    {% for message in messages %}
        {{message}}
    {% endfor %}
</div>
{% endif %}

<form action="/addForm/" method="post">
    {% csrf_token %}
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>Username :</h5></label>
        <div class = 'col-4'>
            <input type="text" class="form-control" name="username">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>First Name :</h5></label>
        <div class = 'col-4'>
            <input type="text" class="form-control" name="firstname">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>Last Name :</h5></label>
        <div class = 'col-4'>
            <input type="text" class="form-control " name="lastname">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>Email :</h5></label>
        <div class = 'col-4'>
            <input type="email" class="form-control" name="email">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>Password :</h5></label>
        <div class = 'col-4'>
            <input type="password" class="form-control" name="password">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>Re-Password :</h5></label>
        <div class = 'col-4'>
            <input type="password" class="form-control" name="repassword">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>Block Chain RPC:</h5></label>
        <div class = 'col-4'>
            <input type="text" class="form-control " name="rpcpassword">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>IP Address :</h5></label>
        <div class = 'col-4'>
            <input type="text" class="form-control " name="rpc_host">
        </div>
    </div><br>
    <div class = "form-group row">
        <label class = "col-2 col-form-label" for=""><h5>Port Relay:</h5></label>
        <div class = 'col-4'>
            <input type="text" class="form-control " name="port">
        </div>
    </div><br>
    
    <input type="submit" value="submit" class="btn btn-primary ">
</form>

{% endblock %}